@model SerwisSamochodowy.Models.Konto
@{
    ViewBag.Title = "Profil";
}




<h2>Profil użytkownika @ViewBag.Login</h2>
    <div class="row">
        <div class="col-md-4">
            <h4>Dodaj ogłoszenie</h4>
            <p><a class="btn btn-default" href="https://localhost:44363/Samochod/Dodaj_ogloszenie">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h4>Moje ogłoszenia</h4>

            <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
        </div>
    </div>

